In [10]:
import numpy as np
import pandas as pd
import re

In [27]:
dataset = pd.read_csv(r"E:\\Nupur\\BEI-IV-I\\MajorProjectPartA\\CppdatasetPartB.csv")

In [28]:
dataset.head(10)

,Id,Problem,Solution
0,1,Write a C++ Program to C++ Program to Add Two ...,#include <iostream>\nusing namespace std;\n\ni...
1,2,Write a C++ Program to Display Number (Entered...,#include <iostream>\nusing namespace std;\n\ni...
2,3,Write a C++ Program to Find Quotient and Remai...,#include <iostream>\nusing namespace std;\n\ni...
3,4,Write a C++ Program to Swap Two Numbers withou...,#include <iostream>\nusing namespace std;\n\ni...
4,5,Write a program to find size of int_._ float_....,#include <iostream>\nusing namespace std;\n\ni...
5,6,Write a C++ Program to Multiply two Numbers,#include <iostream>\nusing namespace std;\n\ni...
6,7,Write a C++ Program to Display ASCII Value of ...,#include <iostream>\nusing namespace std;\n\ni...
7,8,Write a C++ Program to Generate Random Numbers...,#include<iostream>\n#include<stdlib.h>\nusing ...
8,9,Write a C++ Program to Find Sum and Average of...,#include<iostream>\nusing namespace std;\n\nin...
9,10,Write a C++ Program to convert inches to feet ...,#include<iostream>\nusing namespace std;\n\nin...

In [29]:
dataset.tail()

,Id,Problem,Solution
934,941,classes and static variables,using namespace std;\nclass Banner\n{\npublic:...
935,942,destructors in c++ classes,#include <iostream>\n#include <string>\nusing ...
936,943,e MathStudent class for the Grade Calculation\...,#include <iostream>\n#include <string>\nusing ...
937,944,create the ScienceStudent class for the Grade ...,#include <iostream>\n#include <string>\nusing ...
938,945,Using the Get() and Set() Methods,#include <string>\nusing namespace std;\nclass...

In [30]:
dataset.nunique(axis=0)

Id          939
Problem     918
Solution    903
dtype: int64

In [31]:
pd.isna(dataset['Solution']).value_counts()

False    939
Name: Solution, dtype: int64

In [32]:
pd.isna(dataset['Problem']).value_counts()

False    939
Name: Problem, dtype: int64

In [33]:
pd.isna(dataset['Id']).value_counts()

False    939
Name: Id, dtype: int64

In [34]:
len(dataset)

939